.navbar-brand {
  font-size: 5rem;
  font-family: "MonteCarlo", cursive;
}
.container-fluid {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
}
h1 {
  font-family: "Goblin One", serif;
  font-size: 100px;
  text-align: center;
}

body {
  background-color: #325eab;
}
